<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Logger" value="json"/>
		<add key="Repository" value="sql"/>
	</appSettings>

	<connectionStrings>
		<add name="ZooDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ZooDatabase.mdf;Integrated Security=True;Connect Timeout=30" />
		<add name="ZooMaster" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30" />
	</connectionStrings>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>